.inspiration-container {
  position: relative;
  border-bottom: 1px solid rgba(76, 78, 80, 0.25);
  padding-top: 75px;
  margin-right: auto;
  margin-left: auto;
  width: 939px;
  height: 465px;
  transition: height 0.45s ease-in;
  &.big {
    height: 948px;
  }
  * {
    color: black;
  }
  .beschreibung {
    .first {
      display: block;
      font-family: "Lato", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 5px;
    }
    a {
      color: #cca96a;
      float: right;
      text-decoration: none;
      margin-right: 2px;
    }
  }
  button {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 35px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 1024px) {
  .inspiration-container {
    width: 453px;
    height: 40rem;
  }
}
