.container-suchleiste-hintergrund {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin-top: 22vh;
  z-index: 1;
  .suchleiste-hintergrund {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    min-width: 60vw;
    max-width: 65vw;
    min-height: 50vh;
    overflow: hidden;
    background: hsla(0, 0%, 0%, 0.3) border-box;
    border-radius: 2.5em;
  }
  .suchleiste-hintergrund::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("../../assets/startseiten_hintergrund.jpg");
    z-index: -1;
    filter: blur(10px);
  }

  .input-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50rem;
    max-width: 60vw;
    height: 8rem;
    margin: 1rem;

    .input-container-reihe {
      display: flex;
      &:last-child {
        margin-top: 1rem;
      }
    }
    .erste {
      border-radius: 15px;
      box-shadow: 3px 3px 10px #000;
    }
  }

  h1 {
    font-size: 3rem;
  }
  p {
    margin-top: 1rem;
    font-size: 1.8rem;
  }
}
