input {
  height: 2.5rem;
  width: 8rem;
  outline: none;
  border: none;
  padding-top: 8px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
  color: #cca96a;
  border-bottom: 1px solid #fff7de;
}

input::placeholder {
  color: #fff7de;
  margin-top: 5rem;
}
