button {
  cursor: pointer;
  position: relative;
  min-width: 4rem;
  width: 8rem;
  max-width: 8vw;
  height: 2.5rem;
  outline: none;
  border: none;
  background: #fff7de;
  border-left: 1px solid grey;
  font-size: 1rem;

  span {
    color: rgb(0, 0, 0);
  }
}

.normaler-button {
  max-width: 13vw;
  span {
    position: absolute;
    left: 1rem;
    top: 0;
    margin-top: 0.8rem;
  }
  .arrow-container {
    bottom: 1.3rem;
    right: 2.5rem;

    .arrow {
      &:before,
      &:after {
        background-color: rgba(0, 0, 0, 0.753);
      }
    }
  }
}

.such-button {
  background: #681899;
  transition: all 0.3s ease;
  border-left: none;
  border-radius: 0 15px 15px 0;
  max-width: 10vw;
  span {
    left: 2.5rem;
    color: #fff;
  }
  &:hover {
    background: #a66acc;
    letter-spacing: 2px;
  }
}

.secondary-button {
  margin-top: 0.2rem;
  margin-left: 2rem;
  background: none;
  width: 10rem;
  max-width: 17vw;
  border-left: none;
  border-bottom: 2px solid #fff7de;
  span {
    position: absolute;
    left: 0;
    color: #fff7de;
  }
  &:first-child {
    margin-left: 0;
  }
}

.scroll-button {
  position: absolute;
  top: 80vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 1px solid #fff7de;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 15px;
  .arrow-container {
    bottom: 1.9rem;
    right: 5.3rem;
    transform: rotate(45deg);
    .arrow {
      &:before,
      &:after {
        width: 35px;
        height: 2px;
      }
      &:after {
        top: -16px;
        left: 16px;
      }
    }
  }
}

.arrow-container {
  position: absolute;
  right: 18px;
  bottom: -1px;

  .arrow {
    width: 13px;
    height: 13px;
    bottom: 0px;
    margin-top: 2px;
    text-align: left;
    transform: rotate(45deg);

    &:before,
    &:after {
      position: absolute;
      content: "";
      display: inline-block;
      width: 8px;
      height: 2px;
      background-color: #fff;
    }
    &:after {
      position: absolute;
      transform: rotate(90deg);
      top: -3.5px;
      left: 3px;
    }
  }
}

.no-arrow {
  display: none;
}
