.page-changer-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 75px;
  margin-bottom: 50px;
  z-index: 1;

  button:last-of-type {
    position: absolute;
    z-index: -1;
  }
}
