.popup-container {
  position: absolute;
  display: flex;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(76, 78, 80, 0.25);

  .popup {
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
    background: #fff7de;
  }
}
