.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(76, 78, 80, 0.25);
  z-index: 10;
  margin: auto;

  .popup {
    position: relative;
    display: flex;
    margin: 0 auto;
    min-height: 100%;
    width: 80vw;
    background: #fff7de;
    overflow: scroll;
    @media (max-width: 1023px) {
      width: 100vw;
    }

    .closebutton-container {
      position: absolute;
      right: 5px;
      top: 0;
    }

    .rotate-container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 75px;
      height: inherit;
      background: #a69fff;
      .rotate {
        position: absolute;
        transform: rotate(-90deg);
        font-weight: bold;
        letter-spacing: 10px;
      }

      @media (max-width: 1023px) {
        display: none;
      }
    }

    .side-info {
      height: 100vh;
      width: 100%;

      .first {
        display: flex;

        .kurzinfo {
          padding-top: 35px;
          padding-bottom: 100px;
          background: #cca96a;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1023px) {
            padding: 50px 0;

            width: 100%;
            flex-direction: column;
          }

          .container-bild-info {
            position: relative;
            display: flex;
            padding: 15px 15px 0 15px;

            @media (max-width: 1023px) {
              flex-direction: column;
              align-items: center;
              & :nth-child(3) {
                display: none;
              }
            }

            .popup-bild-preview-container {
              width: 100%;
              max-width: 450px;
              height: inherit;

              img {
                border-radius: 15px;
              }
            }

            .infos {
              position: relative;
              display: flex;
              flex-direction: column;
              height: inherit;
              max-height: 275px;
              width: 100%;
              padding: 15px 15px 15px 50px;
              background: #fff7de;
              border-radius: 15px;
              & > * > *,
              & > * > * > * {
                color: #cca96a;
              }
              @media (max-width: 1023px) {
                height: 350px;
                max-width: 500px;
                width: 100%;
                padding: 5px 10px;
                margin-top: 15px;
              }
              .icon-container {
                display: flex;
                align-items: center;
                img {
                  height: 20px;
                  margin-right: 5px;
                }
              }
              .infos-main {
                display: flex;
                flex-direction: column;
                & div:first-of-type {
                  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
                }

                .titel,
                .preis {
                  font-size: 25px;
                }
                .titel {
                  margin-bottom: 5px;
                }
                .preis {
                  margin-top: 15px;
                  margin-bottom: 15px;
                }

                .adresse {
                  font-size: 13px;
                }
                .side-infos {
                  display: flex;
                  & :first-child {
                    border-bottom: none;
                    box-shadow: none;
                  }
                  & > * {
                    color: #fff7de;
                    background: #cca96a;
                    padding: 15px;
                    box-shadow: -5px 0px 10px -2px rgba(0, 0, 0, 0.35);
                  }
                }
              }
              .infos-footer {
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                padding: 15px;
                border-top: 1px solid rgba(0, 0, 0, 0.35);
                @media (max-width: 1023px) {
                  font-size: 13px;
                }
              }
            }
          }
        }
      }

      .second {
        display: flex;

        .rotate-container {
          background: #a66acc;
        }

        .main-content-container {
          margin-top: 100px;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1023px) {
            margin-top: unset;
          }
          .main-content {
            max-width: 895px;
            width: 100%;
            height: inherit;
            display: flex;
            padding: 15px 15px 0 15px;
            margin-bottom: 75px;
            justify-content: space-between;

            .informations-container {
              display: flex;
              flex-direction: column;
              max-width: 440px;
              height: 100%;
              border: 1px solid black;
              border-radius: 15px;
              & > * {
                margin: 15px;
              }
              .haus-infos {
                max-width: inherit;
                display: grid;
                gap: 15px;
                grid-template-columns: repeat(auto-fit, minmax(0, 180px));
                align-items: center;
                justify-content: center;
                background: rgba(0, 0, 0, 0.35);
                border-radius: 15px;
                padding: 15px;
                .abteil {
                  & :first-child {
                    display: inline-block;
                    width: 100px;
                  }
                }
              }
            }
            .karte {
              display: inline-block;
              width: 100%;
              max-width: 350px;
              height: 100vh;
              max-height: 350px;
            }
          }
        }
      }
    }
  }
}
