.popup-container {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(76, 78, 80, 0.25);
  z-index: 2;
  margin: auto;

  .popup {
    display: flex;
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
    background: #fff7de;

    .main-section {
      width: 100%;
      .popup-bild-preview-container {
        margin-top: -35px;
        width: 450px;
        height: 300px;
      }
      .kurzinfo {
        height: 45%;
        background: #cca96a;
        display: flex;
        align-items: center;
        justify-content: center;

        .infos {
          margin-top: 43px;
          align-self: flex-start;
          height: 230px;
          width: 510px;
          background: #fff7de;
        }
      }
    }

    .side-info {
      height: 100vh;
      width: 75px;

      .first {
        height: 45%;
        background: #a69fff;
      }
      .second {
        background: #a66acc;
        height: 60%;
      }
      & > * {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      & > * > * {
        position: absolute;
        transform: rotate(-90deg);
        font-weight: bold;
        letter-spacing: 10px;
      }
    }
  }
}
