.startseite {
  width: 100vw;
  height: 100vh;
  .container-suchleiste {
    position: relative;
    width: 100%;
    height: 100%;
    .backgroundImage-filter {
      height: 100%;
      width: 100%;
      position: absolute;
      background: #4c4e50;
      opacity: 35%;
    }
    .startseite-hintergrund {
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background-image: url("../../assets/startseiten_hintergrund.jpg");
    }
  }
  .test {
    width: 100vw;
    height: 100vh;
  }
}
