.bilder-vorschau {
  display: grid;
  overflow: hidden;
  grid-template-columns: repeat(auto-fill, max(208px));
  grid-auto-rows: 208px;
  grid-gap: 35px;
  margin-top: 15px;
  height: 210px;
  transition: all 0.45s ease-in;

  &:before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }

  & > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

.bilder-vorschau.big {
  height: 696px;
}

@media (max-width: 1024px) {
  .bilder-vorschau {
    grid-template-columns: repeat(2, max(208px));
  }
}
