.header-container {
  position: absolute;
  z-index: 1;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background: rgba(76, 78, 80, 0.25);
  .logo-container {
    height: 100%;
    width: 9rem;
    padding: 20px;
    cursor: pointer;
  }
  .options-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    a {
      padding: 10px 15px;
      text-decoration: none;
      cursor: pointer;

      &.registrieren {
        border-left: 2px solid #fff7de;
        margin-left: 2rem;
        margin-right: 1rem;
        padding-left: 3rem;
      }

      &:last-child {
        border: 1px solid #fff7de;
        border-radius: 25px;
        margin-right: 50px;
      }
    }
  }
}
