.slider-container {
  position: absolute;

  max-width: inherit;
  bottom: -60px;
  .content-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
  }
  & > * > * {
    margin-right: 15px;
    max-width: 120px;
    max-height: 120px;
  }
  .rechterpfeil {
    position: absolute;
    right: 17px;
    transform: rotate(-90deg);
  }
  .linkerpfeil {
    position: absolute;
    transform: rotate(90deg);
    left: 17px;
  }
  img {
    border-radius: 15px;
  }
}
