.container {
  min-height: 750px;
  height: calc(100vh - 150px);

  .sign-in-up-container {
    display: flex;
    width: 100%;
    height: inherit;
    min-height: inherit;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}
