.dropdown-container {
  position: absolute;
  display: flex;
  background-color: #fff7de;
  border-radius: 0 25px 25px 25px;
  padding: 10px 15px;
  z-index: 3;
}

.preis-dropdown {
  //diese zeile lässt den dropdown unter dem button sein
  transform: translate3d(-3rem, 283px, 0px) !important;
  height: 360px;

  .input-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
  input {
    width: 100%;
  }
  div {
    position: relative;
    width: 10px;
    height: 2.2rem;
    margin-right: 5px;
    margin-left: 5px;
    span {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;
      border-bottom: 2px solid #cca96a;
    }
  }
  ul {
    list-style: none;
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    li {
      cursor: pointer;
      padding: 5px;
      width: 90%;
      color: black;
      &:hover {
        color: #681899;
        border: 1px solid #681899;
        border-radius: 25px;
      }
    }
  }
  #preis-min {
    display: block;
  }
}
.auswahl-dropdown-container {
  position: absolute;
  .auswahl-dropdown {
    transform: translate3d(0, 60px, 0px) !important;
    z-index: 1;
    width: 7.93rem;
    height: 2.5rem;
    padding-top: 60px;
    position: relative;
    border-radius: 0 0 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
      position: absolute;
      width: 80%;
      top: 45%;
      text-align: center;
      li {
        cursor: pointer;
        width: 100%;
        color: black;
        padding: 5px;
        &:hover {
          color: #681899;
          border: 1px solid #681899;
          border-radius: 25px;
        }
      }
    }
  }
  .flaeche-dropdown {
    transform: translate3d(12rem, 200px, 0px) !important;
    border-radius: 0 15px 15px 15px;
    width: 8rem;
    min-height: 12.2rem;
    ul {
      position: absolute;
      top: 5%;
    }
  }
  .zimmer-dropdown {
    transform: translate3d(0, 183px, 0px) !important;
    border-radius: 0 15px 15px 15px;
    width: 8rem;
    height: 10.2rem;
    ul {
      position: absolute;
      top: 5%;
    }
  }
  .haus {
    transform: translate3d(8.05rem, 60px, 0px) !important;
  }
}

.results-container {
  position: absolute;
  transform: translate3d(-22rem, 30px, 0px) !important;
  font-size: 0.9rem;
  z-index: 2;
  .results {
    &::before,
    &::after {
      display: none;
    }
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    h4 {
      color: black;
    }
    ul {
      list-style: none;
      min-width: 26rem;
      max-width: 35rem;
      li {
        cursor: pointer;
        width: 100%;
        color: black;
        padding: 5px;
        padding-left: 15px;
        &:hover {
          color: #681899;
          border: 1px solid #681899;
          border-radius: 25px;
        }
      }
    }
  }
}
