.dropdown-container {
  position: absolute;
  display: flex;
  background-color: #fff7de;
  border-radius: 25px;
  padding: 10px 15px;
  z-index: 3;
}
//das dreieck
.dropdown-container:after,
.dropdown-container:before {
  content: "";
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #fff7de transparent;
  top: -13px;
  right: 50%;
  margin-right: -15px;
  position: absolute;
  z-index: -1;
}

.preis-dropdown {
  //diese zeile lässt den dropdown unter dem button sein
  transform: translate3d(-11.9rem, 288px, 0px) !important;
  height: 360px;

  .input-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
  input {
    width: 100%;
  }
  div {
    position: relative;
    width: 10px;
    height: 2.2rem;
    margin-right: 5px;
    margin-left: 5px;
    span {
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      margin: 0 auto;
      border-bottom: 2px solid #cca96a;
    }
  }
  ul {
    list-style: none;
    display: none;
    margin-top: 10px;
    margin-left: 10px;
    li {
      cursor: pointer;
      padding: 5px;
      width: 90%;
      color: black;
      &:hover {
        color: #681899;
        border: 1px solid #681899;
        border-radius: 25px;
      }
    }
  }
  #preis-min {
    display: block;
  }
}

.auswahl-dropdown {
  width: 8rem;
  height: 2.5rem;
  transform: translate3d(0.1rem, 70px, 0px) !important;
  display: flex;
  align-items: center;
  ul {
    list-style: none;
    width: 100%;
    text-align: center;
    li {
      cursor: pointer;
      width: 100%;
      color: black;
      padding: 5px;
      &:hover {
        color: #681899;
        border: 1px solid #681899;
        border-radius: 25px;
      }
    }
  }
}

.haus {
  transform: translate3d(8rem, 70px, 0px) !important;
}

.zimmer-dropdown {
  transform: translate3d(0rem, 190px, 0px) !important;
  width: 8rem;
  height: 10.2rem;
}

.flaeche-dropdown {
  transform: translate3d(12rem, 205px, 0px) !important;
  width: 8rem;
  height: 12.2rem;
}
