.slider-container {
  position: relative;
  display: flex;
  align-items: center;
  width: inherit;
  height: inherit;

  img {
    width: inherit;
    height: inherit;
  }
  .pfeil-container {
    display: flex;
    position: absolute;
    width: 100%;
    .rechter-pfeil {
      margin-left: auto;
      transform: rotate(-90deg);
    }

    .linker-pfeil {
      transform: rotate(90deg);
    }
  }
}
